* {
  margin: 0;
  box-sizing: 0;
  padding: 0;
  background: #0a0a0a;
} /*{1080}*/
.main-container {
  display: flex;
  flex-direction: column;
  margin: 2%;
  .contrainer-nav {
    display: flex;
    justify-content: space-between;
    ul {
      list-style: none;
      li {
        margin: 0px 1vw 0px 1vw;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      li:hover {
        color: #3282b8;
        cursor: pointer;
        font-size: large;
        transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
        font-weight: bold;
      }
    }
    .img-contrainer {
      width: 15vw;
      height: 15vh;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  .aboutMe-container {
    display: flex;
    padding: 2vh 5vw 2vh 5vw;
    gap: 2vw;
    justify-content: space-between;
    .about_text {
      padding: 1%;
      box-shadow: 0px 0px 1px 0px #ffffff;
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
      flex: 1 0 30vw;
      .aboutMe_detail {
        margin-top: 1vh;
        .Git_myName {
          display: flex;
          justify-content: space-between;
          .gitHub {
            display: flex;
            align-items: center;
            box-shadow: 0px 0px 1px 0px #ffffff;
            margin-right: 1vw;
            padding: 1%;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            a {
              text-decoration: none;
              color: #ffffff;
            }
            a:hover {
              color: #3282b8;
              cursor: pointer;
              transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
              font-weight: bold;
            }
          }
        }
      }
    }
    .about_img {
      box-shadow: 0px 0px 1px 0px #ffffff;
      box-shadow: 0px 0px 1px 0px #ffffff;
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 0 0 30vw;
      .container_image {
        width: 200px;
        height: 100%;
        object-fit: contain;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
@media (max-width: 1080px) {
  .aboutMe-container {
    display: flex;
    flex-direction: column;
    .aboutMe_detail {
      margin: 2vh;
      .about_text {
        font-size: 85%;
        padding-top: 1000px;
        h4 {
          display: flex;
          margin: 0;
          justify-content: flex-start;
          align-items: center;
        }
        .Git_myName {
          display: flex;
        }
      }
    }
  }
}
