* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: aliceblue;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.contrainer-nav {
  display: flex;
  padding: 10px 0px 2px 0px;
  margin-top: 10px;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;
  li {
    list-style: none;
    margin-right: 30px;
    padding: 5px 15px 5px 15px;

    font-size: large;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
  }
  li:hover {
    box-shadow: 0px 0px 1px 0px #f0f0f0;
    border-radius: 15px;
    cursor: pointer;
  }
  .img-contrainer {
    width: 10vh;
    height: 10vh;
    display: flex;
    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
      margin: 10px 10px 20px;
    }
  }
}
body {
  background-color: #000000f2;
  min-width: 768px; /* ตั้งความกว้างขั้นต่ำ */
}
.contrainer {
  display: flex;
}
.contrainer-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 1000px;
  max-height: 300px;

  .avatar {
    box-shadow: 0px 0px 1px 0px #f0f0f0;
    border-radius: 5%;
    max-width: 350px;
    max-height: 325px;
    min-width: 200px;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .text {
    width: 100%;
    box-shadow: 0px 0px 1px 0px #f0f0f0;
    border-radius: 5%;
    height: 100%;
    min-width: 370px;
    flex-grow: 1;
    flex-wrap: nowrap;
    display: flex;
    flex-direction: column;
    object-fit: contain;
    padding: 7%;
    p {
      font-size: 100%;
      display: flex;
      flex-direction: column;
    }
  }
}
.section_artical {
  margin: 0% 10% 10% 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
